@charset "utf-8";
/* CSS Document */


/*기본화면-제일 작은 너비값*/


.signup_wrap li{list-style:  none;}
.signup_wrap ul{margin-left: 0px;padding: 0px;}

h4.tlt{
    text-align:  center;
    font-size: 32px;
    /* font-family: NanumSquareRound; */
    font-weight: 500;
}
p.e02{
    text-align:  center;
    /* font-family: NanumSquareRound; */
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}


#agree {
    width: 15px;
    height: 15px;
    vertical-align: top;
    margin-right: 2px;
}


/*셀렉트 박스*/
.selectBox {position:relative;display: inline-block;width: 90px;height: 40px;background-color:#fff;margin-right: 0px;}
.selectBox .txt {display:block;width: 100%;height: 40px;padding-left:10px;line-height: 39px;border: 1px solid #d6d6d6;text-align:left;box-sizing: border-box;border-radius: 2px;}
.selectBox label {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}



.sel01{
    width: 100%;
}

.input00{height:40px;padding-left: 10px;border: 1px solid #d6d6d6;}

.input01{
    width:  100%;
}
.input01_1{margin-top:5px;font-size: 12px;}

.input02{
    width: 85px;
}
.input03{
    width: 100%;
    margin-right: 1%;
    margin-bottom: 5px;
}

.input04{
    border: 1px solid #d6d6d6;
    width:  98px;
    height:  30px;
}

.input05{
    width: 93%;
    margin-bottom: 5px;
}
.input06{
    width: 100%;
    margin-bottom: 5px;
}


.input08{
    width: 100%;
    margin-bottom: 8px;
}
.input09{
    width: 100%;
}

.singup .input02{
    margin-bottom: 5px;
}

.btn_m_01{background: #444;color: #fff !important;width:  150px;height:  43px;display:  block;text-align:  center;line-height:  43px;margin: 22px auto 0;border: none;font-size: 12px;}

.btn_m_02{
    width: 100%;
    background: #444;
    display:  inline-block;
    line-height: 40px;
    text-align:  center;
    color: #fff !important;
    vertical-align:  bottom;
    font-size: 12px;
}

.btn_m_05{
    background-color:  #f4f4f4;
    display:  inline-block;
    line-height: 41px;
    width: 100%;
    border: 1px solid #d6d6d6;
    background-position: 35% 17px;
    vertical-align: bottom;
    text-align:  center;
    width: 150px;
    margin: 8px auto;
    display:  block;
    font-size: 12px;
}



.signup_wrap{
    font-family: Noto Sans;
}
.signup_steps{
    margin-bottom:  20px;
}
.signup_steps:after{
    content:"";
    display:block;
    clear:both;

}

.signup_steps li{
    width: 100%;
    background:  #e1e1e1;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 13px 14px 13px;
    font-family: Noto Sans;
    text-align:  center;
    font-size: 12px;
}
.signup_steps li span{display: inline-block;/* fonts-size: 18px; */margin-bottom: 8px;font-weight:  bold;margin-right: 10px;}
.signup_steps li.on{background:#6d6e70;color: #fff; */}
.signup_container{}


.singup{
    border-top: 1px solid #444;
}
.singup li{
    margin-top: 10px;
    border-bottom:  1px solid #e1e1e1;
    padding-bottom: 10px;
}
.singup .th{
    margin-bottom: 4px;
    padding-left: 6px;
    background-position:  0 center;
    font-family: Noto Sans;
    font-weight:  bold;
    font-size:  12px;
}
.singup .td{
    font-family: Noto Sans;
}
.singup .td:after{
    content:"";
    display:block;
    clear:both;
}

.e1{
    font-style:  normal;
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    display:  block;
}
.e1 br{display:none;}
.e2{
    font-style:  normal;
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    display:  block;
    float:  left;
    width:  100%;
}








@media screen and (min-width:768px){





    /*셀렉트 박스*/
    .selectBox {width: 126px;}

    .selectBox label {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}



    .sel01{
        width: 118px;
        top: 2px;
    }
    .sel02 .txt{height:40px;}


    .input01{
        width:  100%;
    }
    .input02{
        width: 116px;
    }
    .input03{
        width: 200px;
        margin-right: 4px;
        margin-bottom: 0px;
    }
    .input05{
        width: 105px;
        margin-bottom: 0px;
    }
    .input06 {
        width: 113px;
        margin-bottom: 0px;
    }

    .btn_m_02{
        width: 100px;
        margin-right: 4px;
    }
    .btn_m_03{
        background-color:  #f4f4f4;
        display:  inline-block;
        line-height: 43px;
        width: 122px;
        border: 1px solid #d6d6d6;
        background-position: 18px 17px;
        padding-left: 43px;
        vertical-align: bottom;
        text-align:  left;
    }


    .signup_wrap{}
    .signup_steps{
        text-align:  center;
    }
    .signup_steps li{
        width: 197px;
        margin-right: 1px;
        line-height: 16px;
        padding: 20px;
        display:  inline-block;
    }
    .signup_steps li i{font-size: 22px;}
    .signup_steps li:last-child{margin-right:0px;}
    .signup_steps li span{display:block;font-size:  20px;}
    .signup_container{}
    .ta01{}


    .singup{}

    .singup li{}
    .singup li:after{
        content:"";
        display:block;
        clear:both;
    }
    .singup .th{width: 20%;float:  left;padding-left: 35px;background-position: 14px 17px;padding-top: 10px;}
    .singup .td{
        width: 80%;
        float:  left;
    }


    .input08{width: 200px;margin-bottom: 0px;}
    .input09{width: 306px;}
    .singup .input01{width: 307px;margin-top: 0px;}
    .singup .input01_1{width: 460px;margin-top: 7px;}
    .singup .input02{
    }
    .e1{
    }
    .e1 br{}
    .e2{
    }
    .submit_wrap{text-align:center;}
    .btn_m_01{display:inline-block;}
    .btn_m_05{display:inline-block;margin: 0px;}

    #selectEmail {
        width: 460px;
        border: 1px solid #e1e1e1;
        padding-left: 6px;
        height: 40px;
        font-size: 12px;
        margin-top: 7px;
    }
} /*768px화면 끝*/


















@media screen and (min-width:1150px) {


    .signup_wrap {
        width: 600px;
        margin: 0 auto;
    }

    .btn_m_01 {
        margin-top: 20px;
    }

    .submit_wrap {
        text-align: center;
        margin-bottom: 100px;
    }

    .btn_m_05 {
        display: inline-block;
        margin-top: 20px;
        margin: 0;
    }

    h4.tlt {
        margin-top: 20px;
    }

    /*셀렉트 박스*/

    .selectBox label {
        overflow: hidden;
        position: absolute;
        width: 0;
        height: 0;
        line-height: 0;
        text-indent: -9999px
    }


    .sel01 {
        width: 153px;
    }

    .input02 {
        width: 134px;
    }

    .input03 {
        width: 167px;
        margin-right: 4px;
    }

    .input05 {
        width: 150px;
        margin-bottom: 0px;
    }

    .input06 {
        width: 160px;
        margin-bottom: 0px;
    }

    .btn_m_02 {
        width: 113px;
        background: #444;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        color: #fff;
        vertical-align: bottom;
        margin-right: 4px;
    }

    .btn_m_03 {
        background-color: #f4f4f4;
        display: inline-block;
        line-height: 43px;
        width: 122px;
        border: 1px solid #d6d6d6;
        background: url(../img/arr_g.png) no-repeat;
        background-position: 12px 17px;
        padding-left: 40px;
        vertical-align: bottom;
    }

    .input04 {
        border: 1px solid #d6d6d6;
        width: 98px;
        height: 30px;

    }

    .input05 {
    }


    /*회원페이지*/

    .signup_steps {
        text-align: center;
        margin-top: 17px;
        margin-bottom: 25px;
    }

    .signup_steps:after {
        display: block;
        clear: both;
        content: "";
    }

    .signup_steps li {
        width: 31.3%;
        display: inline-block;
    }

    .signup_container {
    }

}

