@charset "utf-8";
/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family:'Malgun Gothic',"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;background:#f3f3f3;height:100%;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Malgun Gothic',"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul{margin:0;padding:0;list-style:none}
li,dt,dd,ol{margin:0;padding:0}
ol{list-style-position:inside}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:'Malgun Gothic',"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;font-size:1em}
button,input[type="submit"] {cursor:pointer}
textarea, select {font-family:'Malgun Gothic',"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h2{font-size: 1.083em;font-weight: bold;margin:10px 0}

/* 레이아웃 */
#hd h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_top{position:fixed;top:0;left:0;width:100%;height:50px;background:#3f51b5;z-index:1000}
#hd_top:after{display:block;visibility:hidden;clear:both;content:""}
#logo{background:#2f409f;height:100%;float:left;width:220px;padding:15px 0 15px 50px;text-align:center}
#btn_gnb{background:url(../img/menu-cl.png) 50% 50% no-repeat #223390;width:50px;height:50px;border:0;position:absolute;top:0;left:0;text-indent:-999px;overflow:hidden}
#btn_gnb.btn_gnb_open{background:url(../img/menu-op.png) 50% 50% no-repeat #223390;width:50px;height:50px;border:0;position:absolute;top:0;left:0;text-indent:-999px;overflow:hidden}

#tnb{float:right;padding:10px}
#tnb ul:after{display:block;visibility:hidden;clear:both;content:""}
#tnb li{float:left;position:relative;margin-left:3px}
#tnb a{color:#fff;;padding:0 10px;display:block;line-height:30px;}
#tnb .tnb_service{border-radius:3px;background:#4e5eb7;color:#fff;padding:0 10px;text-align:left;height:30px;line-height:30px;}
#tnb .tnb_service:hover{background:#5969c3}
#tnb  button{width:100px;;border:0;border-radius:3px;background:#4e5eb7;color:#fff;padding:0 30px 0 10px;text-align:left;height:30px;position:relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#tnb  button span{display:block;text-indent:-999px;overflow:hidden;width:30px;border-radius:3px;height:30px;position:absolute;top:0;right:0;background:url(../img/op_btn.png) 50% 50% no-repeat #5969c3}
#tnb  button:hover {background:#5969c3}
#tnb .tnb_mb_area{display:none;background:#5e6dc2;width:100px;position:absolute;padding:5px;margin-top:1px;}
#tnb .tnb_mb_area a{padding:0}
#tnb .tnb_mb_area li{float:none;}
#tnb .tnb_community{background:url(../img/home_icon.png) no-repeat 50% 50%;width:30px;height:30px;overflow:hidden;text-indent:-999px;border-radius:5px}
#tnb .tnb_community:hover{background-color:#2b3d9f}
#tnb .tnb_shop{background:url(../img/shop_icon.png) no-repeat 50% 50%;width:30px;height:30px;overflow:hidden;text-indent:-999px;border-radius:5px}
#tnb .tnb_shop:hover{background-color:#2b3d9f}

/*gnb*/
#gnb{position:fixed;top:0;left:0;max-width:220px;height:100%;padding-top:50px;z-index:999}
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_ul{position:relative;height:100%;background:#ebebeb;width:50px}
#gnb .gnb_li{border-bottom:1px solid #ddd }
#gnb .gnb_li button{background-color: #ebebeb;border:0;width:50px;height:50px;text-indent:-999px;overflow:hidden;}
#gnb .gnb_li .btn_op{background:url(../img/menu_default.png) 50% 50% no-repeat #ebebeb}
#gnb .on .btn_op{background:url(../img/menu_default_on.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-100{background:url(../img/menu-1-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-100{background:url(../img/menu-1.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-200{background:url(../img/menu-2-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-200{background:url(../img/menu-2.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-300{background:url(../img/menu-3-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-300{background:url(../img/menu-3.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-400{background:url(../img/menu-7-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-400{background:url(../img/menu-7.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-500{background:url(../img/menu-6-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-500{background:url(../img/menu-6.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .btn_op.menu-900{background:url(../img/menu-4-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .btn_op.menu-900{background:url(../img/menu-4.png) 50% 50% no-repeat #fff}
#gnb .gnb_li button:hover{background-color:#f3f3f3}
#gnb .gnb_oparea{display:none;position:absolute;top:0;left:50px;background:#fff;height:100%;width:170px;padding:20px;border-right:1px solid #dbdbdb;
-webkit-box-shadow: 2px 0 2px  rgba(150,150,150,100.1);
   -moz-box-shadow: 2px 0 2px  rgba(150,150,150,0.1);
        box-shadow: 2px 0 2px  rgba(150,150,150,0.1);}
#gnb .on .gnb_oparea{display:block}
#gnb .gnb_oparea h3{margin-bottom:10px;line-height:18px;font-size:1.17em}
#gnb .gnb_oparea li{line-height:28px}
#gnb .gnb_oparea li a{color:#555}
#gnb .gnb_oparea li a:hover,#gnb .gnb_oparea li .on{color:#435ffe;}
#gnb.gnb_small .gnb_oparea{display:none;}
#gnb.gnb_small .gnb_li:hover .gnb_oparea{display:block;}
.gnb_small .gnb_ul{display:block;}

/*중간*/
#container{padding:0 0 0 220px;margin-top:100px;height:100%;background:#fff;min-width:1200px;}
#container.container-small{padding-left:50px}
#container_wr{padding:25px;min-height:500px}
#container_title{position:fixed;top:50px;left:0;width:100%;line-height:50px;font-size:1.5em;padding:0 20px;padding-left:240px;border-bottom:1px solid #ddd;background:#fff;z-index:99}
#container.container-small #container_title{padding-left:70px}
.container_wr{padding:20px}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#to_content a {z-index:100000;position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
#to_content a:focus, #to_content a:active {width:100%;height:70px;background:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.1em}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #ddd;border-right:0}
#captcha_mp3 img {border:1px solid #ddd;border-left:0;background:#494949}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 공통박스 */
.compare_wrap {margin:0 0 10px;zoom:1}
.compare_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.compare_wrap section {margin: 0 0 10px;}
.compare_wrap h3 {margin:10px 0 ;text-align:center;text-align:left}
.compare_wrap .tbl_frm {margin:0}
.compare_wrap .frm_input {background:#fff}
.compare_wrap .btn_confirm {padding:10px 0 0}
.compare_left {float:left;width:49%}
.compare_right {float:right;width:49%}

/* 버튼 */
.btn_confirm {margin:0 0 20px}
.btn_fixed_top{position:fixed;top:60px;right:10px;z-index:100}

.btn_confirm01 {}
.btn_confirm01 button {padding:0 15px;height:30px;border:0;background:#9eacc6;color:#fff}
.btn_confirm01 a {display:inline-block;padding:0 15px;height:30px;background: #9eacc6;color: #fff;text-decoration:none;line-height:2.5em;vertical-align:middle}
.btn_confirm01 a:focus {background:#555}

.btn_confirm02 {clear:both;margin-top:10px;text-align:center}
.btn_confirm02 button {padding:0 15px;height:30px;border:0;background:#617d46;color:#fff}
.btn_confirm02 a {display:inline-block;padding:0 15px;height:30px;background:#617d46;color:#fff;text-decoration:none;line-height:2.5em;vertical-align:middle}
.btn_confirm02 a:focus {background:#555}

.btn_submit{background:#ff4081;color:#fff}
a.btn_submit{background:#ff4081;color:#fff}


.btn_confirm .btn_submit {padding:0 15px;border:0;height:30px;color:#fff}
.btn_frmline {display:inline-block;padding:0 7px;height:24px;border:0;background:#444;color:#fff !important;letter-spacing:-0.1em;text-decoration:none;vertical-align:middle;line-height:2em} /* 우편번호검색버튼 등 */
.btn_frmline:focus, .btn_frmline:hover, .btn_frmline:active {text-decoration:none}

.btn_win {margin:0 20px 10px} /* 새창용 */

.btn_win01 {clear:both;text-align:center}
.btn_win01 a, .btn_win01 button {padding:0 10px;height:22px;border:1px solid #ccc;background:#fafafa}
.btn_win01 a {display:inline-block;line-height:2em;cursor:pointer}
.btn_win01 a:focus, .btn_win01 a:hover {text-decoration:none}

.btn_win02 {clear:both;text-align:center}
.btn_win02 a {display:inline-block;vertical-align:middle;cursor:pointer}
.btn_win02 a:focus, .btn_win02 a:hover {text-decoration:none}
.btn_win02 button.btn_submit {background:#ff3061;color:#fff}

.btn_list {margin:10px 0} /* 목록용 */
.btn_list .btn_02{height:28px;padding:0 5px;border:0;}

.btn_list01 {}
.btn_list01 a:focus {background:#555}

.btn_list02 {}
.btn_list02 a:focus {background:#555}

.btn_list03 {text-align:right}
.btn_list03 a {display:inline-block;padding:0 15px;height:28px;background:#617d46;color:#fff;text-decoration:none;line-height:2.4em;vertical-align:middle}
.btn_list03 a:focus {background:#555}

.btn_add {margin:10px 0 } /* 목록용 추가 */

.btn_add01 {text-align:right}
.btn_add01 a, .btn_add01 button {padding:10px;border:1px solid #ccc;background:#f0f0f0;text-decoration:none;cursor:pointer}
.btn_add01 a {display:inline-block;vertical-align:middle}btn_confirm
.btn_add01 button {margin:0}


.td_mng a.btn,.td_mng a{display:inline-block;height:26px;line-height:26px;border:0;;border-radius:3px;padding:0 8px;margin:1px;font-weight:normal}
.td_mng button,.td_mng button.btn{height:26px;border:0;border-radius:3px;padding:0 8px;margin:1px;border:0;;font-weight:normal}
.btn{height:30px;border:0;;border-radius:5px;padding:0 10px;font-weight:bold;font-size:1.09em;vertical-align:middle}
a.btn{display:inline-block;height:30px;line-height:30px;border:0;;border-radius:5px;padding:0 10px;font-weight:bold;font-size:1.09em;;vertical-align:middle}
.btn_submit{background:#ff4081;color:#fff}
a.btn_submit{background:#ff4081;color:#fff}
.btn_submit:hover{background:#ff1464}
.btn_01,a.btn_01{background:#ff4081;color:#fff;}
.btn_01:hover,a.btn_01:hover{background:#ff1464}

.btn_02,a.btn_02{background:#9eacc6;color:#fff;}
.btn_03,a.btn_03{background:#3f51b5;color:#fff;}

.btn_frmline{display:inline-block;background:#9eacc6;color:#fff;height:35px;border:0;border-radius:5px;padding:0 10px}
a.btn_frmline{display:inline-block;background:#9eacc6;color:#fff;height:35px;line-height:33px;border-radius:5px;padding:0 10px;text-decoration:none  !important}
.btn_ov01{display:inline-block;line-height:30px;height:30px;font-size:0.92em;vertical-align:top}
.btn_ov01:after{display:block;visibility:hidden;clear :both;content:""}
.btn_ov01 .ov_txt{float:left;background:#9eacc6;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_ov01 .ov_num{float:left;background:#ededed;color:#666;border-radius:0 5px 5px 0;padding:0 5px}
a.btn_ov02,a.ov_listall{display:inline-block;line-height:30px;height:30px;font-size:0.92em;background:#565e8c;color:#fff;vertical-align:top;border-radius:5px;padding:0 7px }
a.btn_ov02:hover,a.ov_listall:hover{background:#3f51b5}

/*form*/
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
.frm_input{height:35px;line-height:32px;border:1px solid #d5d5d5;}
.frm_input_full{width:100%}
.required{background:url('../img/wrest.gif')  top right no-repeat #fff !important}
select{height:35px;line-height:32px;border:1px solid #d5d5d5;}
textarea{width:100%;border:1px solid #d5d5d5;min-height:80px}
legend {position:absolute;width:0;height:0;font-size:0;line-height:0;text-indent:-9999em;border:0;overflow:hidden}
.code_input{font:bold 15px Consolas}

/* 외부서비스 사이트코드 */
.sitecode {display:inline-block;font:bold 15px 'Verdana';vertical-align:middle}


.readonly {}

/*color*/
.color_01{background:#fe528f}
.color_02{background:#68d0a7}
.color_03{background:#b668d0}
.color_04{background:#ffa700}
.color_05{background:#688fef}
.color_06{border:#f7d9d9}

.color_st01{background:#fe528f;color:#fff;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}
.color_st02{background:#68d0a7;color:#fff;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}
.color_st03{background:#b668d0;color:#fff;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}
.color_st04{background:#ffa700;color:#fff;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}
.color_st05{background:#688fef;color:#fff;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}
.color_st06{;color:#ff0000;border:1px solid #ff0000;display:inline-block;padding:0 3px;font-size:0.92em;line-height:18px}

/* 폼 안내글 */
.frm_info {display:block;padding:0 0 5px;color:#5b747e}

/* 목록 바로가기 */
.anchor {margin:10px 0 ;padding:0;zoom:1}
.anchor:after {display:block;visibility:hidden;clear:both;content:""}
.anchor li{float:left;margin-left:-1px;list-style:none}
.anchor a {display:inline-block;padding:5px 10px;border:1px solid #c8ced1;background:#d6dde1;text-decoration:none}
.anchor  .selected{background:#3f51b5}




#sort_mb {width:800px}

#sort_sodr {width:600px}


/* 하단 레이아웃 */
#ft{background:#f3f3f3;padding:0 25px;color:#777;text-align:center}
#ft p{line-height:50px;}
.scroll_top{position:fixed;bottom:10px;right:10px;width:50px;height:50px;border:0;text-align:center;background:#ddd;background:rgba(0,0,0,0.1)}
.scroll_top span.top_img{display:inline-block;width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;
border-bottom: 5px solid black;}
.scroll_top span.top_txt{display:block}

/* 페이지 내 검색 */
.local_sch{}
.local_sch:after ,.local_sch div:after{display:block;visibility:hidden;clear:both;content:""}
.local_sch .btn_sch{width:30px;height:30px;border:0;padding:0;float:left;background:url(../img/sch_btn.png) no-repeat 50% 50%;border:1px solid #dcdcdc;border-left:0;text-indent:-999px;overflow:hidden}
.local_sch .btn_sch2{width:35px;height:35px;border:0;padding:0;background:url(../img/sch_btn.png) no-repeat 50% 50% #eee;border:1px solid #dcdcdc;text-indent:-999px;overflow:hidden}

.local_sch .sch_input{height:30px;border:1px solid #dcdcdc;border-right:0;;padding:0 5px;float:left;}
.local_sch select{height:30px;margin-right:3px;border:1px solid #dcdcdc}
.local_sch01{margin: 10px 0;}
.local_sch02{}
.local_sch01 .frm_input{height:30px;border:1px solid #dcdcdc;padding:0 5px;}
.local_sch01 .btn_submit{width:30px;height:30px;border:0;padding:0;background:url(../img/sch_btn.png) no-repeat 50% 50% #eee;border:1px solid #dcdcdc;text-indent:-999px;overflow:hidden}
.local_sch03{;padding:5px 15px;background:#e9ebf9;margin:10px 0}
.local_sch div{margin:5px 0;}
.local_sch03 strong{display:inline-block;width:70px;}
.local_sch03  label{margin-right:5px;display:inline-block}
.local_sch03 button{height:30px;padding:0 5px;border:0;background:#9eacc6;color:#fff;}
.local_sch03 .btn_submit{height:30px;padding:0 5px;border:0;;color:#fff;}
.local_sch03 .frm_input{height:30px;border:1px solid #dcdcdc;padding:0 5px;}
/* 페이지 내 실행 */
.local_cmd {min-width:960px}

.local_cmd01 {margin:0 0 10px;padding:0 }
.local_cmd01 .cmd_tit {font-weight:bold}
.local_cmd01 .btn_submit {padding:3px 5px;border:1px solid #ff3061;color:#fff;font-size:0.95em;vertical-align:middle}

/* 페이지 내 안내문 */
.local_desc {background:#eaeaea;padding:10px 20px;margin:10px 0;line-height:1.5em }
.local_desc ol, .local_desc ul {margin:0;padding:0 0 0 10px}
.local_desc strong{color:red}
.local_desc li{margin:10px 0}
.local_wr{margin:0 0 10px }
.local_wr:after{display:block;visibility:hidden;clear:both;content:""}

.local_desc01 {margin:10px 0 10px ;padding:10px 20px;border:1px solid #f2f2f2;background:#f9f9f9}
.local_desc01 strong {color:#ff3061}
.local_desc01 a {text-decoration:underline}

.local_desc02 {margin:10px 0 ;min-width:960px} /* 주로 온라인 서식 관련 안내 내용에 사용 */
.local_desc02 p {padding:0;line-height:1.8em}

/* 페이지 내 카운트 */
.local_ov {min-width:960px}

.local_ov01 {position:relative;;margin: 10px 0;}
.local_ov01 .ov_a {display:inline-block;margin:0 0 0 5px;padding:0 0 0 10px;border-left:1px solid #ccc;color:#ff3061}



/* 테이블 */
table {clear:both;width:100%;border-collapse:collapse;border-spacing:0;}
table caption {height:0;font-size:0;line-height:0;overflow:hidden}
table td{line-height: 22px;}
tfoot th, tfoot td {border:1px solid #d6dce7;background:#eee;padding:5px;text-align:center;font-weight:bold;}
tfoot th {}

.tbl_wrap {margin:0 0 10px;padding:0}

/* thead 한 줄 테이블 */
.tbl_head01 {}
.tbl_head01 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head01 thead th {background:#6f809a;color:#fff;border:1px solid #60718b;font-weight:normal;text-align:center;padding:8px 5px;font-size:0.92em}
.tbl_head01 thead th a{color:#fff}
.tbl_head01 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 thead a {color:#383838;text-decoration:underline}
.tbl_head01 tbody th{border:1px solid #d6dce7;padding:5px;text-align:center}
.tbl_head01 tbody td{border:1px solid #d6dce7;padding:5px;text-align:center}
.tbl_head01 tbody tr:nth-child(even){background:#eff3f9}
.tbl_head01 tbody td .frm_input{width:100%;}
.tbl_head01 tbody td select{width:100%}
.tbl_head01 table .tbl_input{height:27px;line-height:25px;border:1px solid #d5d5d5;width:100%}
.tbl_head01 table select {height: 27px;line-height: 25px;width: 100%;}

/* thead 두 줄 테이블 */
.tbl_head02 {}
.tbl_head02 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head02 thead th, .tbl_head02 tbody th {padding:5px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;letter-spacing:-0.1em}
.tbl_head02 thead th {font-size:0.95em}
.tbl_head02 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 thead a {color:#383838;text-decoration:underline}
.tbl_head02 tbody th {}
.tbl_head02 tbody td {padding:7px 5px;line-height:1.4em;word-break:break-all}

/* UL */
.ul_wrap {}

.ul_01 ul {margin:0;padding:0;list-style:none}
.ul_01 li {padding:10px 0;border-bottom:1px solid #e9e9e9}

/* 자료 없는 목록 */
.empty_table {padding:100px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 폼 테이블 */
.tbl_frm01 th{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#f6f6f6;padding: 10px;width:200px;text-align:left}
.tbl_frm01 td {border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding: 10px;text-align:left;}
.tbl_frm01 textarea {height:150px}
.tbl_frm01 #captcha {margin:0;padding:0;border:0;background:transparent}
.tbl_frm01 #captcha input {margin-left:5px;text-align:center}
.h2_frm{text-align:left;color:#3f51b5;font-size:1.09em;font-weight:bold;margin:20px 0 10px}

/* 테이블 그리드 */
.grid_1 {width:50px}
.grid_2 {width:100px}
.grid_3 {width:150px}
.grid_4 {width:200px}
.grid_5 {width:250px}
.grid_6 {width:300px}
.grid_7 {width:350px}
.grid_8 {width:400px}
.grid_9 {width:450px}
.grid_10 {width:500px}
.grid_11 {width:550px}
.grid_12 {width:600px}
.grid_13 {width:650px}
.grid_14 {width:700px}
.grid_15 {width:750px}
.grid_16 {width:800px}
.grid_17 {width:850px}
.grid_18 {width:900px}

/* 목록 홀짝 배경색 */
.tbl_head01 tbody .bg0{background:#fff !important}
.tbl_head01 tbody .bg1{background:#eff3f9 !important}
.tbl_head01 tbody .bg0cancel {background:#fdebf3 !important}
.tbl_head01 tbody .bg0cancel td {border-color:#f9d8e6 !important}
.tbl_head01 tbody .bg1cancel {background:#fdebf3 !important}
.tbl_head01 tbody .bg1cancel td {border-color:#f9d8e6 !important}

/* 메뉴설정 */
#menu_frm #menu_result {margin:10px 0}

#menulist .sub_menu_class {padding-left:25px;background:url('../img/sub_menu_ico.gif') 5px 15px no-repeat}
.exist_menu_link {font-weight:bold;color:red}

/* 회원관리 목록 */
.mb_leave_msg {color:#b6b6b6}
.mb_intercept_msg {color:#ff0000}
#point_mng {margin-top:50px}

/* 게시판추가/수정 */
#anc_bo_extra .td_grpset label {width:auto}
#anc_bo_extra .td_grpset input {margin:0}
#anc_bo_extra label {display:inline-block;width:100px}
#anc_bo_extra input {margin-right:10px}

/* 접속자집계 목록 */
.tbl_visit_list td {text-align:center}
.visit_bar {position:relative}
.visit_bar span {position:absolute;top:-8px;left:0;height:15px;background:#3f51b5}

/*접속자로그삭제*/
.visit_del_bt{margin:5px 0;border-top:1px solid #eee;padding:5px 0}
.visit_del_bt .btn_submit{border:0;height:35px;padding: 0 5px;border-radius:3px}

/*접속자로그삭제*/
.visit_del_bt{margin:5px 0;border-top:1px solid #eee;padding:5px 0}
.visit_del_bt .btn_submit{border:0;height:35px;padding: 0 5px;border-radius:3px}

/* 공통 */
.td_addr {text-align:left !important}
.td_alignc {text-align:center}
.td_addr_line {line-height:2em}
.td_addr_line .frm_input{margin:2px 0}
.td_amount {width:70px;text-align:center}
.td_auth {width:100px;text-align:center}
.td_auth_mbnick {width:200px}
.td_boolean {width:50px;text-align:center}
.td_category {width:120px;text-align:center}
.td_categorysmall {width:60px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_chk2{width:70px;}
.td_cnt {width:100px;font-size:0.95em;text-align:center}
.td_cntsmall {width:50px;font-size:0.95em;text-align:center}
.td_code {width:80px;text-align:center}
.td_confirm {width:90px;text-align:center}
.td_date {width:70px;text-align:center}
.td_datetime {width:130px;text-align:center}
.td_delicom {width:100px}
.td_delino {width:130px}
.td_device {width:70px;text-align:center}
.td_etc {width:80px;text-align:center}
.td_extra label {display:inline-block;width:100px}
.td_extra input {margin-right:5px;width:130px}
.td_grid {width:60px;text-align:center}
td.td_grpset {width:160px;border-left:1px solid #e9ecee;text-align:center}
.td_id {width:150px}
.td_idsmall {width:75px}
.td_itname {text-align:left !important}
.td_itopt {width:200px}
.td_itopt_tl {text-align:left !important}
.td_img {text-align:center}
.td_imgline {width:70px;text-align:center}
.td_input input {width:94%}
.td_mbcert {text-align:center}
.td_mbid, .td_name, .td_mbname {width:100px;text-align:left !important}
.td_mbstat {text-align:center}
.td_mng {width:100px;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.td_mngsmall {width:60px;text-align:center;}
.td_num {width:60px;text-align:center}
.td_num_c{width:70px;text-align:center}
.td_num_c2{width:60px;text-align:center}
.td_num_c3{width:100px;text-align:center}
.td_numbig {width:100px;text-align:right !important}
.td_numcancel0 {color:#999;text-align:right !important}
.td_numcancel1 {color:#ff3061;font-weight:bold;text-align:right !important}
.td_numcoupon {color:#86b325;text-align:right !important}
.td_numincome {text-align:right !important}
.td_num_right {text-align:right !important}
.td_numsmall {width:40px;text-align:center}
.td_numsum {font-weight:bold;text-align:right !important}
.td_numrdy {color:#ff3061;text-align:right !important}
.td_odrnum {width:250px;text-align:center}
.td_odrnum2 {width:140px;text-align:center}
.td_odrnum3 {width:110px;text-align:center}
.td_odrstatus {width:70px;letter-spacing:-0.1em;text-align:center}
.td_output {width:90px;text-align:center}
.td_payby {width:70px;text-align:center;letter-spacing:-0.1em}
.td_paybybig {width:140px;text-align:center;letter-spacing:-0.1em}
.td_possible {width:70px;text-align:center}
.td_postal {width:60px;text-align:center}
.td_postalbig {width:140px;text-align:center}
.td_price {text-align:right !important}
.td_pt {text-align:right !important}
.td_send {width:50px;text-align:center}
.td_sendcost_by {width:50px;text-align:center}
.td_sendcost_add {width:100px;text-align:center}
.td_stat {width:70px;text-align:center}
.td_tdiv {border-bottom:1px solid #c9c9c9 !important}
.td_tel{width:120px;text-align:left !important}
.td_telbig {width:100px;text-align:center}
.td_test {width:50px;text-align:center}
.td_category1{width:130px;text-align:center}
.td_category2{width:100px;text-align:center}
.td_category3{width:80px;text-align:center}
.td_time{text-align:center;width:130px}
.td_center{text-align:center;}
.td_type{width:120px}

.td_mng_s{width:60px}
.td_mng_m{width:100px}
.td_mng_l{width:160px}

.txt_true {color:#e8180c}
.txt_false {color:#ccc}
.txt_succeed {color:#40b300}
.txt_fail {color:#ce4242}
.td_left{text-align:left !important}

.banner_or_img {margin:10px 0 0}
.banner_or_img button {display:block;margin:5px 0 0}
.txt_active {color:#5d910b}
.txt_expired {color:#ccc}
#sct_mobileimg{width:125px}


/* 환경설정 */
.cf_cert_hide {display:none}

/* 관리권한설정 */
#add_admin fieldset {margin-top:20px}

/* 메일 테스트 */

#fsendmailtest {margin:50px 0;text-align:center}
#fsendmailtest .btn_submit {height: 35px;border:0;padding: 0 10px;}

/*캐시파일 일괄삭제*/
.session_del{margin:15px 0;padding-left:20px;}
.session_del li{list-style:disc }
.session_del strong{color:#ff0000}
.session_del p{line-height:1.7em;padding:10px 15px ;background:#f7ecea;border:2px solid #ffb6c1}

/* ########## 쇼핑몰 사용시 적용 ########## */
.sidx {padding:20px 0 30px;zoom:1}
.sidx:after {display:block;visibility:hidden;clear:both;content:""}

.sidx_anchor {position:absolute;margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}

/* idx 쇼핑몰 */
#anc_sidx_ord {float:left;width:66%}
#sidx_graph {position:relative}
#sidx_graph_price {position:absolute;top:10px;left:20px;margin:0;padding:0;width:12%;list-style:none}
#sidx_graph_price li {position:relative;padding:0 10% 0 0;height:48px;font-family:tahoma;text-align:right}
#sidx_graph_price li span {position:absolute;top:7px;right:-10%;width:10px;height:1px;background:#e9e9e9}
#sidx_graph_area {position:absolute;top:0;left:15%;margin:0;padding:0;width:85%;height:260px;border:1px solid #e9e9e9;list-style:none}
#sidx_graph_area li {position:relative;float:left;padding:0 1% 0 0;width:14%;height:100%}
#sidx_graph_area .graph {position:absolute;bottom:0;width:40%;height:0}
#sidx_graph_area .order {background:#8562ca;left:7%}
#sidx_graph_area .cancel {background:#62c5ca;right:7%}
#sidx_graph_area #price_tooltip {display:none;position:absolute;top:-18px;left:0;background-color:#fff;border:1px solid gray}
#sidx_graph_area #price_tooltip div {white-space:nowrap}
#sidx_graph_date {position:absolute;top:275px;left:15%;margin:0;padding:0;width:85%;border:1px solid #fff;list-style:none}
#sidx_graph_date li {position:relative;float:left;width:14%;font-family:tahoma;text-align:center}
#sidx_graph_date li span {position:absolute;top:-16px;right:0;width:1px;height:10px;background:#e9e9e9}
#sidx_graph_legend {position:absolute;top:-25px;left:15%}
#sidx_graph_legend span {display:inline-block;width:13px;height:13px;vertical-align:middle}
#sidx_graph_legend #legend_order {background:#8562ca}
#sidx_graph_legend #legend_cancel {margin:0 0 0 10px;background:#62c5ca}

#sidx_graph_area .bg0{background:#fff }
#sidx_graph_area .bg1{background:#eff3f9 }


#anc_sidx_settle {margin:0 0 30px;padding:30px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
#anc_sidx_settle table {text-align:center}

#sidx_stat {float:right;width:32%}
#sidx_stat h2 {padding:0 20px 0 0}
#sidx_stat .tbl_wrap {padding:0 20px 0 0}

/* idx 1:1문의/상품문의/사용후기 */
.sidx_cs {}
.sidx_cs section {float:left;margin:0 2% 0 0;width:32%}
.sidx_cs #anc_sidx_ps {margin:0}
.sidx_cs h2 {padding:0}
.sidx_cs .ul_wrap {margin:0 0 20px}
.sidx_cs .btn_list03 {margin:0}
.sidx_cs #anc_sidx_oneq h2 {padding:0 0 }
.sidx_cs #anc_sidx_oneq .ul_wrap {padding:0 0}
.sidx_cs #anc_sidx_ps h2 {padding:0 20px 0 0}
.sidx_cs #anc_sidx_ps .ul_wrap {padding:0 20px 0 0}
.sidx_cs #anc_sidx_ps .btn_list03 {margin:0 20px 0 0}

.sidx_cs #anc_sidx_oneq .oneq_cate {font-weight:bold}
.sidx_cs #anc_sidx_oneq .oneq_link {display:block;margin:5px 0}

.sidx_cs #anc_sidx_qna .qna_link {display:block;margin:5px 0}

.sidx_cs #anc_sidx_ps .ps_link {display:block;margin:5px 0}

/* 쇼핑몰 설정 */
#anc_scf_payment textarea {height:50px}
.get_shop_skin,.shop_etc,.shop_pc_index,.shop_mobile_index{background: #9eacc6;color: #fff;height: 30px;border: 0;border-radius: 5px;padding: 0 10px;font-weight: bold;font-size: 1.09em;
vertical-align: middle;}

a.scf_pgreg {display:inline-block;margin:5px 0 0;padding:5px 10px;background:#226C8B;color:#fff;font-weight:normal;text-decoration:none}
a.kcp_btn {display:inline-block;margin:5px 0 0;padding:5px 10px;background:#226C8B;color:#fff;font-weight:normal;text-decoration:none}
a.lg_btn{display:inline-block;margin:5px 0 0;padding:5px 10px;background:#ED008C;color:#fff;font-weight:normal;text-decoration:none}
a.kg_btn{display:inline-block;margin:5px 0 0;padding:5px 10px;background:#4A2C7C;color:#fff;font-weight:normal;text-decoration:none}
a.kakao_btn{display:inline-block;margin:5px 0 0;padding:5px 10px;background:#FDDC2F;color:#3B1E1E;font-weight:normal;text-decoration:none}
a.naver_btn {display:inline-block;margin:5px 0 0;padding:5px 10px;background:#00C73C;color:#fff;font-weight:normal;text-decoration:none}

.scf_cardtest {margin:5px 0 0}
.scf_cardtest_btn {margin-left:5px;vertical-align:middle}
#scf_cardtest_tip {margin:10px 0 0;padding:10px;border:3px solid #ddd}
#scf_cardtest_tip strong {display:inline-block;margin:0 0 5px}
#scf_cardtest_tip dl {margin:0 0 15px;padding:0;zoom:1}
#scf_cardtest_tip dl:after {display:block;visibility:hidden;clear:both;content:""}
#scf_cardtest_tip dt {float:left;width:100px}
#scf_cardtest_tip dd {padding:0;overflow:hidden}
.scf_cardtest_tip {display:none}
.scf_cardtest_hide {display:none}
.scf_cardtest_tip_adm_hide {display:none}

.scf_img {display:none}

#scf_sms_pre h3 {padding:10px 0}
#scf_sms_pre dl {margin:0 0 10px;zoom:1}
#scf_sms_pre dl:after {display:block;visibility:hidden;clear:both;content:""}
#scf_sms_pre dt {clear:both;float:left;padding:5px 0;width:100px}
#scf_sms_pre dd {padding:5px 0;overflow:hidden}
#scf_sms {margin:0 20px 30px;padding:20px 0 0;zoom:1}
#scf_sms:after {display:block;visibility:hidden;clear:both;content:""}
.scf_sms_box {float:left;margin:0 8px 0 9px;width:163px;text-align:center}
.scf_sms_box h4 {margin:0 0 5px}
.scf_sms_img {margin:10px 0;width:163px;height:191px;background:url('../shop_admin/img/sms_back.gif') no-repeat 0 0;text-align:center}
.scf_sms_img textarea {margin:54px 0 0;width:115px;height:85px;border:0;background:transparent;font-size:0.95em;overflow:hidden}
.scf_sms_img span {display:block}
.scf_sms_cnt {display:block}

ul.de_pg_tab{margin:0;padding:0;zoom:1}
ul.de_pg_tab:after{display:block;visibility:hidden;clear:both;content:"";}
ul.de_pg_tab li{position:relative;display:inline-block;float:left;text-align:center;margin:0;padding:0;width:120px}
ul.de_pg_tab li a{margin:0 2px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:2.5;background-color:#f7f7f7;color:#74777b;font-weight:bold;font-size:1.2em;text-decoration:none}
ul.de_pg_tab li a:hover{text-decoration:none}
ul.de_pg_tab li.tab-current a{background:#2CC185;color:#fff}

.pg_info_fld{position:relative}
.kcp_info_fld th{background-color:#F6FCFF}
.lg_info_fld th{background-color:#FFF4FA}
.inicis_info_fld th{background-color:#F6F1FF}
.kakao_info_fld th{background-color:#FFFCED}
.naver_info_fld th{background-color:#F3FFF3}

/* 주문내역 */
#sodr_list td {text-align:center}
#sodr_list .td_name {text-align:center !important}

#orderitemlist {position:relative}
#orderitemlist .itemlist {z-index:2;position:absolute;top:0;left:-41px;width:958px;padding:10px;border:1px solid #a2a5a9;background:#f2f5f9}
#orderitemlist .itemlist h2{margin:0 0 10px}
#orderitemlist td {background:#fff}
#orderitemlist #orderitemlist_close {;text-align:right}

#sodr_list .list_escrow {display:block;color:#80bc0d;text-align:center}
#sodr_list .list_test {display:block;text-align:center;color:#ff3061}

/* 주문내역 수정 */
.sodr_nonpay {color:#ff6600}
strong.sodr_nonpay {display:block;padding:5px 0;text-align:right}
.sodr_sppay {color:#1f9bff}
#anc_sodr_memo textarea {width:100%}
#anc_sodr_memo .btn_confirm {margin:10px 0 0}
#anc_sodr_orderer #od_addr1, #anc_sodr_orderer #od_addr2, #anc_sodr_orderer #od_addr3 {margin:5px 0 0}
#anc_sodr_taker #od_b_addr1, #anc_sodr_taker #od_b_addr2, #anc_sodr_taker #od_b_addr3 {margin:5px 0 0}
#anc_sodr_orderer #od_addr_jibeon, #anc_sodr_taker #od_b_addr_jibeon {display:block;margin:5px 0 0}

#sodr_qty_log {padding:0 20px}
#sodr_qty_log h3 {margin:20px 0 10px}
#sodr_qty_log div {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;line-height:1.8em;overflow-y:scroll}

#sodr_request_frm h3 {margin:20px 0 0}
#sodr_request_item h3 {margin-bottom:10px}
#sodr_request_frm #forderrequest {border-top:1px solid #e9e9e9}
#sodr_request_log_wrap {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;overflow-y:scroll}
#sodr_request_log_wrap p {position:relative;padding:5px 0;border-bottom:1px solid #e9e9e9}
#sodr_request_log_wrap span {display:inline-block;margin:0 0 0 80px}
#sodr_request_log_wrap b {display:inline-block;margin:0 15px 0 0;font-weight:normal}
#sodr_request_log_wrap button {position:absolute;top:7px;left:0;margin:0;padding:0;border:0;background:transparent;font-weight:bold}
#sodr_request_handle h3 {margin-bottom:10px}

#anc_sodr_request h3 {margin:20px 0 10px}
#sodr_request_list {padding:10px;height:auto !important;height:200px;max-height:200px;border:1px solid #e9e9e9;background:#f5f6fa;overflow-y:scroll}
#sodr_request_list p {position:relative;padding:5px 0;border-bottom:1px solid #e9e9e9}

#anc_sodr_chk .dvr_link {color:#ff3061;text-decoration:underline}
.od_test_caution{line-height: 1.7em;padding: 10px 15px;background: #f7ecea;border: 2px solid #ffb6c1;color: #ff0000;font-weight: bold;margin:10px 0 20px}

/* 주문통합내역 */
#sodr_sort {margin:0 20px 20px;padding:0;list-style:none;zoom:1}
#sodr_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sodr_sort li {float:left;margin:0 10px 0 0}
#sodr_sort a {font-size:0.95em;text-decoration:underline;letter-spacing:-0.1em}
#sodr_sort a.sort_on {color:#ff3061}

#sodr_all {margin:0 20px}
#sodr_all h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#sodr_all .btn_list {margin:10px 0}

.sodr_all_list {clear:both;margin:0 0 50px;padding:0;list-style:none}

.sodr_all_list .sodr_basic {float:left;zoom:1}
.sodr_all_list .sodr_basic:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_basic dt {float:left;margin:0 10px 0 0}
.sodr_all_list .sodr_basic dd {float:left;margin:0 30px 0 0}
.sodr_all_list .sodr_basic strong a {color:#ff3061;text-decoration:underline}

.sodr_all_list .sodr_person {float:right;zoom:1}
.sodr_all_list .sodr_person:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_person dt {float:left;margin:0 0 0 30px}
.sodr_all_list .sodr_person dd {float:left;margin:0 0 0 10px}

.sodr_all_list .sodr_pay {clear:both;margin:0;border-top:1px solid #d1dee2;zoom:1}
.sodr_all_list .sodr_pay:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_all_list .sodr_pay dt {float:left;padding:8px 0;width:15%}
.sodr_all_list .sodr_pay dd {float:left;margin:0;padding:8px 0;width:35%}

#sodr_total table {text-align:center}
#sodr_total th {width:125px}

/* 분류관리 목록 */
#sct .sct_name {width:130px}
#sct  th{padding:5px}

#sct .sct_name div {position:relative}
#sct .sct_name1 {padding-left:25px}
#sct .sct_name2 {padding-left:50px}
#sct .sct_name3 {padding-left:75px}
#sct .sct_name4 {padding-left:100px}
#sct .name_lbl {position:absolute;top:0;left:-20px;width:13px;height:13px;background:url('../shop_admin/img/icon_reply.gif') 0 0 no-repeat}
.sct_pcskin select,.sct_mskin  select{width:37% !important}
.sct_pcskin .frm_input,.sct_mskin  .frm_input{width:60% !important}

/* 분류 추가/수정 */
.frm_ca_id {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 상품관리 */
.sit_odrby {text-align:center}
.sit_amt {text-align:right;background-color:#e8fbff !important}
.sit_amt2 {text-align:right;border-color:#c3e189 !important;background-color:#f6ffe6 !important}
.sit_amt3 {text-align:right;border-color:#f6c8c4 !important;background-color:#ffedeb !important}
.sit_camt, .sit_pt, .sit_qty {text-align:right}
.frm_sit_title {margin:5px 0 0}
#fitemlistupdate .td_sort select{width: 33%;float: left;margin-right: 0.3%;}

/* 상품입력/수정 */
#sit_compact {;padding:15px 0;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}

.sit_w_opt {height:70px !important}
.sit_wimg {display:none}
.sit_relation_list {width:100%;background:#f6f6f6}
.sit_relation_selected {width:100%;background:#fcfff2}
#add_span img, #sel_span img {margin:5px 0}

.sit_option {margin:0 0 10px;padding:10px 10px 0;border:1px solid #e9e9e9;background:#f7f7f7}
.sit_option .frm_input {background:#fff !important;color:#000}
.sit_option_frm_wrapper {margin:0 0 10px;height:auto !important;height:500px;max-height:500px;border:1px solid #ccc;overflow-y:scroll}
.sit_option_frm_wrapper th {padding:5px 0 !important;text-align:center !important;width:auto !important}

#sit_option_frm .btn_list {margin:0 0 10px}
#sit_option_frm fieldset {padding:10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
#sit_option_frm fieldset .frm_input {margin:0 10px 0 5px;background:#fff !important;color:#000}

#sit_option_addfrm_btn {position:relative}
#sit_option_addfrm_btn button {position:absolute;top:-45px;right:0}

#sit_option_addfrm .btn_list {margin:0 0 10px}
#sit_option_addfrm fieldset {padding:10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
#sit_option_addfrm fieldset .frm_input {margin:0 10px 0 5px;background:#fff !important;color:#000}

/* 상품 복사 */
#sit_copy {margin:10px;padding:10px;background:#fff}
#sit_copy label {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 상품 일괄 등록 */
#excelfile_upload {margin:10px ;padding:20px;border:1px solid #e9e9e9;background:#fff}
#excelfile_upload label {font-weight:bold}
#excelfile_input {margin:0 0 20px;text-align:center}
#excelfile_result {margin:0 20px 20px;border-bottom:1px solid #e9e9e9;zoom:1}
#excelfile_result:after {display:block;visibility:hidden;clear:both;content:""}
#excelfile_result dt {clear:both;float:left;padding:10px 0;width:40%;font-weight:bold}
#excelfile_result dd {float:left;margin:0;padding:10px 0;width:60%}
#excelfile_result .result_done {color:#5d910b}
#excelfile_result .result_fail {color:#ff3061}

/* 상품옵션재고관리 */
.sit_stock_qty_alert {color:#ff1133;font-weight:bold}

/* 배송일괄처리 */
#sdeli_proc_fs {padding:20px 0;border-bottom:1px solid #f7f7f7;text-align:center}

/* 이벤트 입력/수정 */
.frm_ev_id {display:inline-block;margin:0 10px 0 0;font-weight:bold}

/* 관련 상품, 관련 이벤트 입력/수정 */
.srel section ul {margin:0;padding:0 10px;list-style:none;background:#fff}
.srel section li {padding:5px 0;border-bottom:1px solid #e9e9e9;zoom:1}
.srel section li:after {display:block;visibility:hidden;clear:both;content:''}
.srel .srel_list, .srel .srel_sel {height:auto !important;height:200px;max-height:200px;border:1px solid #ced9de;background:#f6f6f6;overflow-y:scroll}
.srel .list_item {float:left;width:80%}
.srel .list_item img {float:left;margin:0 10px 0 0}
.srel .list_item_btn {float:right;margin-top:7px}
.srel .srel_sel {border:1px solid #ced9de;background:#fcfff2}
.srel .srel_list p, .srel .srel_sel p {padding:10px 0;text-align:center}
.srel .compare_left ul {margin:0;list-style:none}
.srel .srel_noneimg li {padding:7px 0}
.srel .srel_noneimg button {top:0;right:0}
.srel .srel_pad {display:block;margin:0 0 10px}
.srel .srel_pad:after {display:block;visibility:hidden;clear:both;content:''}
.srel .srel_pad button {position:static}

/* 쿠폰관리 */
.scp_new_win .empty_table {padding:30px 0}

#scp_list_find {margin:10px ;padding:20px;border:1px solid #e9e9e9;background:#fff}
#scp_list_find .btn_frmline {line-height:1.5em !important}
#scp_list_find label {font-weight:bold}

.scp_find_code {width:110px;text-align:center}

/* 매출현황 */
#ssale_stats {zoom:1}
#ssale_stats:after {display:block;clear:both;visibility:hidden;content:''}
#ssale_stats div {float:left;padding:2%;width:46%;border-bottom:1px solid #eee;text-align:center}
#ssale_stats h3 {margin:30px 0 0;font-size:1.3em;text-align:center}
#ssale_stats form {margin:20px 0 10px;padding:10px 0}
#ssale_stats .frm_input {padding:0 10px !important;height:24px !important}

/* 주문내역출력 (새창) */
.new_win .sodr_print_pop_list table {width:100%}

#sodr_print_pop h2 {padding:15px 0;color:#ff3600;text-align:right}
#sodr_print_pop h3 {margin:0 0 10px}

.sodr_print_pop_list {margin:0 20px 10px;padding:0 0 10px;border-bottom:1px dotted #ddd}
.sodr_print_pop_list .sodr_print_pop_same {margin:0 0 10px;border:1px solid #e9e9e9;background:#f7f7f7;text-align:center}
.sodr_print_pop_list dl {margin:0 0 15px;padding:0;zoom:1}
.sodr_print_pop_list dl:after {display:block;visibility:hidden;clear:both;content:""}
.sodr_print_pop_list dt {float:left;padding:7px 0 6px;width:100px;border-bottom:1px solid #ddd}
.sodr_print_pop_list dd {padding:7px 0 6px;border-bottom:1px solid #ddd;overflow:hidden}

#sodr_print_pop_total {padding:20px 0;text-align:center}
#sodr_print_pop_total span {display:block;margin:0 0 10px;font-size:1.5em}
#sodr_print_pop_total strong {color:#ff3600}

/* 배너관리 */
.sbn_img {text-align:center}
.sbn_image {display:none;margin:0 0 10px;text-align:left}

/* SMS문자전송 */
#sms_send {padding-bottom:100px;zoom:1}
#sms_send:after {display:block;visibility:hidden;clear:both;content:""}

#sms_frm {float:left;width:650px}
#sms_frm table {margin:0 0 30px}
#sms_frm textarea {height:70px}

#sms_sm {position:relative;float:left;width:229px;height:418px;background:url('../shop_admin/img/mobilebg.jpg') no-repeat}
#sms_sm_text {position:absolute;top:75px;left:27px;width:180px;color:#fff;font-size:2em;word-break:break-all}
#sms_sm p {position:absolute;bottom:-70px;left:0;font-size:0.95em;letter-spacing:-0.1em}

#sms_send .local_desc01 {min-width:320px}

/* 가격비교사이트 */
#anc_pricecompare_info li {margin:5px 0 5px -1px}

.price_engine dt a {font-weight:bold}
.price_engine dd {margin:0 0 15px}
.price_engine ul{    padding: 0 0 0 15px;}
.price_engine li {margin:5px 0 5px -1px;list-style:disc }

/* 새창 기본 스타일 */
.new_win {}
.new_win h1 {font-size:1.17em;padding:15px 20px;background:#fff;border-bottom:1px solid #ddd}
.new_win h2 {margin:0 20px 10px}
.new_win_ul {margin:-20px 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #515151;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}

.new_win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #595959;border-left:1px solid #595959;color:#fff;font-family:dotum;font-weight:bold;text-decoration:none}


.new_win_desc {margin:0 }
.new_win .anchor {margin:0 0 5px}

.new_win .win_btn {clear:both;padding:10px;text-align:center} /* 새창용 */
.new_win .win_btn button {display:inline-block;padding:0 10px;height:30px;border:0;line-height:2em;cursor:pointer}
.new_win .win_btn input {padding:0 10px;height:30px;line-height:2em}
.new_win .win_btn a {display:inline-block;padding:0 10px;height:30px;background:#4b545e;color:#fff;vertical-align:middle;line-height:2.4em}
.new_win .win_btn a:focus, .new_win .win_btn a:hover {text-decoration:none}


.new_win .local_sch, .new_win .local_cmd, .new_win .local_desc01, .new_win .local_desc02, .new_win .local_ov {margin:10px}

.new_win_con{margin: 10px; background:#fff;padding:20px}
.new_win_con .table_form table th{width:120px}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 관리자 비밀번호 확인 */
#admin_confirm {padding:0 0 10px;background:#222;text-align:center}
#admin_confirm p {margin:0 0 10px;color:#9ab9c5;background:#383a3f}
#admin_confirm label {color:#fff}
#admin_confirm .frm_input {border-color:#000}

/* 사이드뷰 */
.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;font-size:0.92em;background:#333;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);}
.sv_wrap .sv:before{content: "";position: absolute;top: -6px;left: 15px;width: 0;height: 0;border-style: solid;border-width: 0 6px 6px 6px;border-color: transparent transparent #333 transparent;}
.sv_wrap .sv a {display:inline-block;margin:0;padding:0  10px;line-height:30px;width:100px;font-weight:normal;color:#bbb }
.sv_wrap .sv a:hover{background:#000;color:#fff}
.sv_member{color:#333}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {display:inline-block}
.pg_page, .pg_current {color:#9f9f9f;display:inline-block;float:left;padding: 0 13px;line-height:30px;text-decoration: none;border: 1px solid #ddd;margin-left:-1px}
.pg a:focus, .pg a:hover {background-color:#f3f3f3}
.pg a:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pg a:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pg_page {background:#fff;text-decoration:none}
.pg_start {background:url(../img/page_1.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_prev {background:url(../img/page_2.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_next {background:url(../img/page_3.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_end {background:url(../img/page_4.png) 50% 50% no-repeat;width:32px;text-indent:-999px;overflow:hidden}
.pg_current {display:inline-block;background:#3f51b5;color:#fff;font-weight:normal}

.social_config_explain p{padding-bottom:10px}

/* social member_list.php member_form.php */
.sns-icon .ico {display:inline-block;background:url('../img/social/sns_logo.png') no-repeat;vertical-align:top}
.sns-icon .txt {position:absolute;line-height:0;font-size:0;vertical-align:middle;overflow:hidden}

.sns-wrap-over .sns-icon {border-color:#dcdcdc}
.sns-wrap-over .sns-icon-not {border-color:#8b8b8b}
.sns-wrap-over .sns-naver{border-color:#18a400}
.sns-wrap-over .sns-naver .ico {background-position:-29px 0}
.sns-wrap-over .sns-google .ico {background-position:-58px 0}
.sns-wrap-over .sns-google {border-color:#ca2c19}
.sns-wrap-over .sns-facebook .ico {background-position:0 0 }
.sns-wrap-over .sns-facebook {border-color:#2e5393}
.sns-wrap-over .sns-kakao .ico {background-position:-87px 0}
.sns-wrap-over .sns-twitter {border-color:#488FC9}
.sns-wrap-over .sns-twitter .ico {background-position:-145px 0}
.sns-wrap-over .sns-payco {border-color:#C44646}
.sns-wrap-over .sns-payco .ico {background-position:-116px 0}
.sns-wrap-over .sns-kakao {border-color:#f2df00}

.sns-wrap-32 .sns-icon {display:inline-block;border-width:1px;border-style:solid;overflow:hidden;margin:0 1px}
.sns-wrap-32 .sns-icon .txt {margin:0 10px 0 0;font-size:0.95em;letter-spacing:-0.1em}
.sns-wrap-32 .sns-icon .ico {width:24px;height:24px}

.social_link_box, .social_link_box li{margin:0;padding:0;list-style:none}
.social_link_box{width:300px}
.account_provider{position:relative;margin:10px 0 5px}
.account_provider .sns-wrap-32 .sns-icon{vertical-align:middle}
.account_provider .provider_name{display:inline-block;vertical-align:middle}
.account_provider .btn_info{position:absolute;top:-7px;right:0}
.account_provider .social_unlink{height:30px;line-height:30px;background:#a0a8b8;padding:0 10px;color:#fff;display:inline-block;vertical-align:middle}
.account_provider .social_unlink:hover{text-decoration:none}

/*부가서비스*/
.lnb_svc{color:#ff3061;font-weight:bold}
.service_wrap{ width:965px;margin:0 0 10px;overflow:hidden}
.sevice_1{border:1px solid #ebe8e8;width:310px;float:left;border-radius:5px;text-align:center;margin-right:6px;}
.sevice_1 .svc_img{padding:30px 0 0;}
.sevice_1 h3{font-size:16px;margin:185px 0 10px;color:#525252}
.sevice_1 p{padding:20px;background:#f8f8f8;font-size:12px;text-align:left;color:#898989;line-height:18px}
.sevice_1 ul {width:100%;padding:0; margin:0;border-top:1px solid #ebe8e8;}
.sevice_1 ul li{list-style:none;float:left;border-right:1px solid #ebe8e8;}
.sevice_1 ul li a{display:inline-block;height:75px;width:100%}
.sevice_1 ul li img{padding:8px 0 0;}
.sevice_1 ul li.last{border:0}
.sevice_1 h4{width:100%;padding:0; margin:0;border-top:1px solid #ebe8e8;}
.sevice_1 h4 a{display:inline-block;height:75px;padding:10px 0 0;width:100%}

.svc_card{background:url('../img/service_img1.jpg') no-repeat top center;margin-right:13px;}
.svc_card ul li{width:33%;}
.svc_phone {background:url('../img/service_img2.jpg') no-repeat top center;margin-right:13px;}
.svc_phone ul li{width:33%;}
.svc_ipin {background:url('../img/service_img3.jpg') no-repeat top center;}

.service_2{padding-top:15px;clear:both}
.service_2 h3{font-size:14px;letter-spacing:-1px;color:#525252;margin:0 0 4px}

.service_2 .svc_a p{color:#898989;line-height:16px;letter-spacing:-1px;}

.svc_keyword{clear:both ;}
.svc_keyword .svc_a{float:left;width:230px;padding:46px 0 0 15px ;height:120px; }

.service_2 .svc_ri .svc_a{padding:25px 0 0 22px;}

.service_2 .svc_btn{float:right;}
.service_2 .svc_btn a{display:inline-block;width:126px; height:37px;background:#ff3061;color:#fff;line-height:37px;text-align:center;margin:22px 13px 0;}
.service_2 .svc_btn a:hover,.service_2 .svc_btn a:focus,.service_2 .svc_btn a:active{text-decoration:none}
.svc_keyword{background:#e6f2f4}
.svc_keyword .svc_btn{margin:40px 0 0 ;}
.svc_keyword .svc_btn a{width:160px;}

.svc_sms{border:1px  solid #ebe8e8;position:relative;height:93px}
.svc_sms:after{display:block;visibility:hidden;clear:both;content:""}
.svc_sms .svc_btn2{position:absolute;top:0;right:0}
.svc_sms .svc_btn2 a{display:inline-block; width:220px; height:91px; background:#fbfbfb; text-align:center; padding:20px 0 0;}

/*테마*/
.theme_p{margin:0 0 10px }
#theme_list{padding:0;margin:0;list-style:none;  width: 1000px;position:relative}
#theme_list:after{display:block;visibility:hidden;clear:both;content:""}
#theme_list li{margin:10px 10px 10px 0;float:left}

#theme_list li:after{display:block;visibility:hidden;clear:both;content:""}
#theme_list li .tmli_if{border: 1px solid #d1dee2;width:302px;}
#theme_list li .tmli_if>img{width:300px;height:225px;}
#theme_list li .tmli_if:hover>img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
#theme_list li .tmli_tit{position:relative; border-top: 1px solid #d1dee2; background: #e5ecef;}
#theme_list li .tmli_tit p{height:40px;line-height:40px;padding:0 10px 0;font-weight:bold;text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}
#theme_list li .tmli_tit button.tmli_dt{position:absolute;top:8px;right:10px;padding:5px;background:#111;color:#fff;display:none;border:none}
#theme_list li .tmli_if:hover button.tmli_dt{display:block}
#theme_list li .theme_sl{float:left;border:none;margin-top:5px;padding:0 5px;height:26px;background:#999;color:#fff}
#theme_list li .theme_sl:hover{background:#ff3061}
#theme_list li .theme_deactive{margin-left:4px}
#theme_list li .theme_sl_use{background:#ff3061;line-height:26px}
#theme_list li .theme_pr{float:right;margin-top:5px;padding:0 5px;height:26px;line-height:24px;  border: 1px solid #ccc;  background: #fafafa; }
#theme_list li .theme_preview{  float: right;  margin-top: 5px; padding:0 5px;height:26px; border: 1px solid #ccc;  background: #fafafa; margin-right:3px}

#theme_detail{position:fixed;top:50%;height:540px;width:900px;margin-top:-271px;background:#fff;background:#f3f3f3;border:1px solid #000;
-webkit-box-shadow: 1px 2px 5px  rgba(150,150,150,100.5);
   -moz-box-shadow: 1px 2px 5px  rgba(150,150,150,0.5);
        box-shadow: 1px 2px 5px  rgba(150,150,150,0.5);z-index:1000}
#theme_detail:after{display:block;visibility:hidden;clear:both;content:""}
#theme_detail h2{font-size:1.25em;background:#fff;padding:0 15px;line-height:40px;border-bottom:1px solid #d8d8d8;margin:0}
.theme_dt_img{float:left;padding:20px}
.theme_dt_img img{border:1px solid #aaa;}
.theme_dt_if{float:left;width:235px;padding:20px 0}
.theme_dt_if table{width:100%;border-collapse:collapse;;margin:15px 0 0 ;font-size:0.92em}
.theme_dt_if table th{padding:5px;background:#fff;border-bottom:1px solid #f3f3f3;vertical-align:top;color:#3f51b5}
.theme_dt_if table td{padding:5px;background:#fff;border-bottom:1px solid #f3f3f3;line-height:1.56em}
.theme_dt_if table td a{text-decoration:underline}
.theme_dt_if p{line-height:1.5em}
.if_p_bg{display:inline-block;width:20px;height:1px ;background:#000;margin:30px 0 10px}
#theme_detail .theme_dt_btn{position:absolute;top:0px;right:0px;background:#fff;}
#theme_detail .theme_dt_btn .close_btn{background:url('../img/close.png') 50% 50% no-repeat;width:40px;height:40px;overflow:hidden;border:0;text-indent:-99999px;border-left:1px solid #d8d8d8}

#theme_detail .theme_dt_btn .close_btn:hover{background-color:#eceffc}
#theme_detail .theme_dt_btn .btn_03{line-height:28px;display:inline-block;vertical-align:top;margin-top:6px;padding:0 6px;border-radius:5px}

/*글,댓글현황*/
#wr_cont{position:relative;margin:10px 0}
#wr_cont input[type="submit"]{background:#ff3061;border:none;color:#fff;padding: 0 5px;height: 24px;}
#wr_cont select{height: 24px;}
#grp_color{border:2px solid #ddd;position:absolute;top:0;right:0;list-style:none;padding: 5px 5px; margin:0;}
#grp_color li{padding:5px 10px;}
#grp_color li span{width:10px;height:10px; display:inline-block;background:rgb(75, 178, 197);margin-right:5px;}
#grp_color li.color2 span{background:rgb(234, 162, 40);}
#chart_wr h5{text-align:center;border:1px solid #eee;padding:30px 0}
#chart_wr{margin:20px 0}

/*전송실패 문자 재전송 내역*/
.sms_table{padding:0 0 20px;}
.sms_table table th{border:1px solid #ddd;padding:9px 0}
.sms_table table td{border:1px solid #ddd;text-align:center;width:16%;padding:9px 0}

/* Browscap */
.update_processing{width:300px;height:300px;margin:0 auto;background:url(../img/ajax_loader.gif) no-repeat 0 0}
#processing{margin: 0 auto;padding: 70px 0;border: 1px solid #eee;background: #f9f9f9;text-align:center;}
#processing p{font-size:1.2em}
.check_processing {width:300px;height:300px;margin:0 auto;background:url(../img/check.png) no-repeat 50% 50% }


#processing button{background:#ff3061;border:none;color:#fff;padding: 15px;width:200px;margin-top:15px;border-radius:5px;font-weight:bold;font-size:1.167em}


/*미완료 주문*/
#inorderlist .td_name{text-align:center !important}
#anc_sodr_pay .btn_confirm{margin-top:30px}
#anc_sodr_pay .btn_confirm .btn_submit{width:300px;height:40px;font-size:14px;}

/*상품문의 */
#itemqalist .qa_href .tit_op{background:url(./../img/op_btn1.gif) no-repeat 50% 50%;display:inline-block;text-indent:-999px;overflow:hidden;width:7px;height:4px;margin-left:5px}
#itemqalist .qa_div{background:#d8dfe9;padding:10px;margin:5px 0 0;display:none;}
#itemqalist .qa_div strong{color:#415f9d;font-size:0.92em;display:block}
#itemqalist .qa_div .qa_q{padding-bottom:10px;margin-bottom:5px;border-bottom:1px dashed #fff;}
#itemqalist .qa_href{font-weight:bold;text-decoration:none;display:block;}
#itemqalist .td_status{color:#888}
#itemqalist .td_status strong{color:#ff4588}

/*상품후기 */
#itemuselist .use_href{font-weight:bold;text-decoration:none;display:block;}
#itemuselist .use_href .tit_op{background:url(./../img/op_btn1.gif) no-repeat 50% 50%;display:inline-block;text-indent:-999px;overflow:hidden;width:7px;height:4px;margin-left:5px}
#itemuselist .use_div{background:#d8dfe9;padding:10px;margin:5px 0 0;display:none;}
#itemuselist .td_select{width:100px}


@media only screen and (max-device-width : 768px) and (orientation : landscape){
/* Styles */
input[type="text"]{max-width:200px}
}

@media only screen and (max-device-width : 480px) and (orientation : portrait){
/* Styles */
input[type="text"]{max-width:200px}
}


.table__td--modifier {
    font-size: 13px !important;
    color: #555555 !important;
    text-align:left !important;
    padding-left: 20px !important;
    height: 45px;
}

.table__btn--modify {
    width: 37px;
    height: 26px;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    border: none;
}

.table__btn--del {
    width: 37px;
    height: 26px;
    border-radius: 5px;
    background-color: #9eacc6;
    color: #fff;
    border: none;
}